<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hd{
            background-color: aquamarine;
            width: 50%;
            height: 550px;
            margin-left: 25%;
        
        }

        
        
        
    </style>
</head>
<body>
<div class="hd">
    <center><h2>Contact Us</h2></center>
    <div style="margin-top: 15%;">
    </div>
    <input type="text" name="Enter your name" placeholder="Enter your name" style=" width: 400px; margin-left: 200px; height: 50px;"><br><br><br>
    <input type="text" name="Enter your name" placeholder="Enter your Email adress" style=" width: 400px; margin-left: 200px; height: 50px;"><br><br><br>
    <input type="text" name="Enter your Email adress" style=" width: 400px; margin-left: 200px; height: 100px;"><br><br><br>
    <button style="border: 2px solid white; background: transparent; color: white; border-radius: 5px; margin-left: 290px;width: 200px; height: 50px;"><h1 style="margin-top: 10px;">Submit</h1></button> </a>
</div>

</body>
</html>