{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div.parent {
            width: 100%;
            height: 400px;
            display: block;

        }

        div.first {
            color:white;
            width: 40%;
            height: 500px;
            margin-top: 20%;
            margin-right: 100px;
        


        }

        .last {
            background-color:grey;
            width: 30%;
            height: 500px;
            margin-top:7%;
            

        }
    </style>
</head>

<body style="background-image: url('{% static '/photos/celebration-3057027_640.jpg' %}'); background-size: cover; ">
    <div class="parent">
        <center>
            <div class="last">

                <div class="first">
                    <form action="">
                        <h1>Login</h1><br>
                        <input type="text" name="UserName" placeholder="Enter your UserName"  style="width: 150%; height: 70px; border-radius: 10px; background-color: white; color: black;"><br><br><br>
                        <input type="" name="Password" placeholder="Enter you passward"  style="background-color: black; width: 150%; height: 70px; border-radius: 10px; background-color: white; color: black;"><br><br><br>
                        <a href="Book Your Ticket.html"><button style="width: 150%; height: 70px; border-radius: 10px; background-color: blue; color: white;">login</button></a>
                        <a href="Forgot_Passward"><h3>Forgot Password?</h3></a>
                        
                        <a href="Create account.html"><h3>Create new account</h3></a>
                    </form>
                </div>
            </div>
           <a href="Book Your Ticket.html"><button style="background-color: blue; color: white; margin-top: 5%; border-radius: 50px;"><h1>Book Your Ticket</h1></button> </a>
        </center>

    </div>

</body>

</html>